@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: 'Familjen Grotesk', sans-serif;
  --font-sans: 'Familjen Grotesk', system-ui, sans-serif;

  --color-olive-50: oklch(98.8% 0.003 106.5);
  --color-olive-100: oklch(96.6% 0.005 106.5);
  --color-olive-200: oklch(93% 0.007 106.5);
  --color-olive-300: oklch(88% 0.011 106.6);
  --color-olive-400: oklch(73.7% 0.021 106.9);
  --color-olive-500: oklch(58% 0.031 107.3);
  --color-olive-600: oklch(46.6% 0.025 107.3);
  --color-olive-700: oklch(39.4% 0.023 107.4);
  --color-olive-800: oklch(28.6% 0.016 107.4);
  --color-olive-900: oklch(22.8% 0.013 107.4);
  --color-olive-950: oklch(15.3% 0.006 107.1);

  --color-orca-orange: #ff4b1f;
  --color-orca-orange-hover: #e6421b;
  --color-orca-mist: #edf8f9;
  --color-orca-teal-dark: #326367;
  --color-orca-paper: #f9feff;

  --color-wallpaper-blue-from: #637c86;
  --color-wallpaper-blue-to: #778599;
  --color-wallpaper-blue-from-dark: #243a42;
  --color-wallpaper-blue-to-dark: #232f40;

  --color-wallpaper-brown-from: #8d7359;
  --color-wallpaper-brown-to: #765959;
  --color-wallpaper-brown-from-dark: #382d23;
  --color-wallpaper-brown-to-dark: #3d2323;

  --color-wallpaper-green-from: #9ca88f;
  --color-wallpaper-green-to: #596352;
  --color-wallpaper-green-from-dark: #333a2b;
  --color-wallpaper-green-to-dark: #26361b;

  --color-wallpaper-purple-from: #7b627d;
  --color-wallpaper-purple-to: #8f6976;
  --color-wallpaper-purple-from-dark: #412c42;
  --color-wallpaper-purple-to-dark: #3c1a26;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-orca-paper);
    --scroll-padding-top: 0;
    scroll-padding-top: var(--scroll-padding-top);

    @variant dark {
      background-color: var(--color-olive-950);
    }
  }
}
